@import url(variables.css);
.fa_container{
    width: 100%;
    position: relative;
    /* top: 25rem;  */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    z-index: 1;
    justify-content: center;
    align-content: center;
    background-color: var(--backcolor);  
    padding: 25rem 5rem;

}    

